  <!-- bootstrap js -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
      <!-- *************
			************ JavaScript Files *************
		************* -->
    <!-- Required jQuery first, then Bootstrap Bundle JS -->
    <script src="/mercury/js/jquery.min.js"></script>
    <script src="/mercury/js/bootstrap.bundle.min.js"></script>

    <!-- *************
			************ Vendor Js Files *************
		************* -->

    <!-- Overlay Scroll JS -->
    <script src="/mercury/vendor/overlay-scroll/jquery.overlayScrollbars.min.js"></script>
    <script src="/mercury/vendor/overlay-scroll/custom-scrollbar.js"></script>

    <!-- Apex Charts -->
    <script src="/mercury/vendor/apex/apexcharts.min.js"></script>
    <script src="/mercury/vendor/apex/custom/dash1/sales.js"></script>
    <script src="/mercury/vendor/apex/custom/dash1/sparkline.js"></script>
    <script src="/mercury/vendor/apex/custom/dash1/sparkline2.js"></script>

    <!-- Rating -->
    <script src="/mercury/vendor/rating/raty.js"></script>
    <script src="/mercury/vendor/rating/raty-custom.js"></script>

    <!-- Custom JS files -->
    <script src="/mercury/js/custom.js"></script>

    <!-- main -->
     <script src="/js/main.js"></script>
  </body>
</html>
