<div class="row">
  <div class="col-xl-4 col-sm-6 col-12">
    <div class="card shadow mb-4 p-2 rounded-4 bg-dark-subtle">
      <div class="card-body d-flex align-items-center">
        <div
          class="icon-box lg shadow-solid-rb border border-dark p-4 rounded-4 me-3"
        >
          <i class="bi bi-pie-chart fs-1 lh-1 text-primary"></i>
        </div>
        <div class="m-0">
          <h5 class="fw-light mb-1">Total Expenses</h5>
          <h2 class="m-0 text-primary"><%= nformat(totalExp) %></h2>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-sm-6 col-12">
    <div class="card shadow mb-4 p-2 rounded-4 bg-dark-subtle">
      <div class="card-body d-flex align-items-center">
        <div
          class="icon-box lg shadow-solid-rb border border-dark p-4 rounded-4 me-3"
        >
          <i class="bi bi-sticky fs-1 lh-1 text-primary"></i>
        </div>
        <div class="m-0">
          <h5 class="fw-light mb-1">Average Expenses</h5>
          <h2 class="m-0 text-primary"><%= nformat(averageExp) %></h2>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-sm-6 col-12">
    <div class="card shadow mb-4 p-2 rounded-4 bg-dark-subtle">
      <div class="card-body d-flex align-items-center">
        <div
          class="icon-box lg shadow-solid-rb border border-dark p-4 rounded-4 me-3"
        >
          <i class="bi bi-emoji-smile fs-1 lh-1 text-primary"></i>
        </div>
        <div class="m-0">
          <h5 class="fw-light mb-1">Maximum Expenses</h5>
          <h2 class="m-0 text-primary"><%= nformat(maximumExp) %></h2>
        </div>
      </div>
    </div>
  </div>
</div>
