<div class="sidebarMenuScroll">
  <ul class="sidebar-menu">
    <li class="<%= path === '/' ? 'active current-page' : '' %>">
      <a href="/">
        <i class="bi bi-pie-chart"></i>
        <span class="menu-text">Dashboard</span>
      </a>
    </li>

    <li
      class="treeview <%= path === '/expense' ? 'active current-page' : '' %>"
    >
      <a href="#!">
        <i class="bi bi-box"></i>
        <span class="menu-text">Expense</span>
      </a>
      <ul class="treeview-menu">
        <li>
          <a href="/expense/create">New Expense</a>
        </li>
        <li>
          <a href="/expense/">Expenses</a>
        </li>
      </ul>
    </li>

    <li class="treeview">
      <a href="#!">
        <i class="bi bi-person-square"></i>
        <span class="menu-text">User</span>
      </a>

      <ul class="treeview-menu">
        <li>
          <a class="dropdown-item d-flex align-items-center" href=""
            ><i class="bi bi-person fs-4 me-2"></i>Profile</a
          >
        </li>
        <li>
          <a class="dropdown-item d-flex align-items-center" href=""
            ><i class="bi bi-gear fs-4 me-2"></i>Account Settings</a
          >
        </li>
        <li class="px-3">
          <form
            class="dropdown-item d-flex align-items-center"
            action="/account/logout"
            method="POST"
          >
            <button type="submit" class="btn text-danger w-100">
              <i class="bi bi-escape fs-4 me-2"></i>Logout
            </button>
          </form>
        </li>
      </ul>
    </li>
  </ul>
</div>
