<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head.ejs') %>
  </head>
  <body>
    <div class="login-container">
      <div class="container">
        <h1 class="display-4 mb-5" style="color: #2395d7">T' Expense</h1>
        <form
          action="/account/create"
          method="POST"
          class="row g-3 needs-validatio d-flex align-items-center justify-content-center"
          novalidate
        >
          <div
            class="col-md-7 d-flex align-items-center justify-content-center"
          >
            <input
              type="text"
              name="firstName"
              class="form-control bg-secondary text-light placeholder-light"
              placeholder="Enter your First Name:"
              required
            />
          </div>
          <div
            class="col-md-7 d-flex align-items-center justify-content-center"
          >
            <input
              type="text"
              name="lastName"
              class="form-control bg-secondary text-light placeholder-light"
              placeholder="Enter your Last Name:"
              required
            />
          </div>
          <div
            class="col-md-7 d-flex align-items-center justify-content-center"
          >
            <input
              type="email"
              name="email"
              class="form-control bg-secondary text-light placeholder-light"
              placeholder="Email e.g example@gmail.com"
              required
            />
          </div>
          <div class="col-md-7 align-items-center justify-content-center">
            <input
              type="password"
              name="password"
              class="form-control bg-secondary text-light placeholder-light"
              placeholder="Password"
              required
            />
          </div>

          <div class="col-md-7 align-items-center justify-content-center">
            <button class="btn w-100 btn-primary" type="submit">
              Create Account
            </button>
          </div>

          <div
            class="col-md-7 d-flex align-items-center justify-content-center gap-2 text-light mt-3"
          >
            Already have an account?
            <a href="/account/login" class="nav-link text-info">Login here</a>
          </div>
        </form>
      </div>
    </div>
    <%- include('../includes/end.ejs') %>
  </body>
</html>
